*{
    margin: 0;
    padding: 0;
}

header.header{
    height: 50px;
    width: 100%;
    background-color:white;
}

#png_aslan{
    background-color: white;
    display: flex;    
}

#png_aslan img{
    height: 49px;
}

#curso{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

#aslanG{
    font-size: 40px;
    color:blue;
}

#idiomas{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bosta{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color:blue;
    height: 45px;    
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.foto img{
    height: 250px;
    display: block;
    border-radius: 27px;
}

button{ 
    padding: 7px;
    background-color: blue;
    color:white;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    cursor: pointer;
} 