*{
    margin: 0;
    padding: 0;
}

header.header{
    height: 42px;
    width: 100%;
    background-color:white;
    orientation: horizontal;
}

#png_aslan{
    background-color: white;
    display: flex;    
}

#png_aslan img{
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

#curso{
    font-size: 23px;
    display: flex;
    justify-content: center;
    color:blue;
    height: min-content;
}

#idiomas{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: red;
    height: min-content;
}

#cursoidiomas{
    justify-content: center;
    height: min-content;
}

#aslanG{
    font-size: 36px;
    color:blue;
    margin-left: 15px;
}

.bosta{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color:blue;
    height: 45px;    
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.foto img{
    height: 250px;
    display: block;
    border-radius: 27px;
}

button{ 
    padding: 7px;
    background-color: blue;
    color:white;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    cursor: pointer;
} 

#menu_home{
    width: 170px;
    padding: 2px;
    margin-top: 5px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color:aquamarine;
    margin-left: 5px;
}

.atalho_maisusado{
    width: 135px;
    height: 25px;
    font-size: 17px;
    background-color: blue;
    color: white;
    padding-left: 15px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.top_atalho{
    color: purple;
    font-size: 14px;
    background-color: gray;
    width: 145px;
    margin-left: 5px;
    outline: black;
    padding-left: 5px;
}